[user]
[alias]
  st = status
  ssb = status -sb
  ci = commit
  cia = commit --amend
  co = checkout
  cob = checkout -b
  br = branch
  brm = branch --merged
  rebaseprep = !sh -c 'git co master && git pull && git co -'
  lg = log -p
  lll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  com  = checkout master
  cod  = checkout develop
  ds   = diff --staged
  cv   = commit -v
  cm   = commit -m
  cav  = commit -a -v
  cam  = commit -a -m
  pick = cherry-pick
  pl   = pull origin HEAD
  ph   = push origin HEAD
  phf   = push origin HEAD --force-with-lease
  pup  = push -u origin HEAD
  prun = remote prune origin
  # show merged branches that are not current and not master or develop
  #vmerge = !sh -c 'git branch --merged | egrep -v \'\\*\\s+|master\''
  scrub = !sh -c 'git checkout master && git branch --merged | grep -v \"*\" | xargs git branch -d && git remote prune origin'
  di = diff
  sta = stash
  flog = log --pretty=fuller --decorate
  blog = log origin/master... --left-right
  fixup = commit --fixup
  squash = commit --squash
  unstage = reset HEAD
  rum = rebase master@{u}
  stashitall = stash -u -k
  resethh = reset --hard HEAD

  stashshow = "!f() { git stash show stash^{/$*} -p; }; f"
  stashapply = "!f() { git stash apply stash^{/$*}; }; f"

[color]
  diff = auto
  branch = auto
  status = auto
  interactive = auto
  ui = auto
[pivotal]
  api-token = ffa56514e3a370a2f1c146722a7217cf
  rebase = 1
  full-name = Jon Rogers
  delete-branch = 1
  branch-format = feature-description-id
  project-id = 824147

[merge]
  tool = tkdiff

[heroku]

[push]
  default = simple

[branch]
  autosetupmerge = true
[pull]
  default = upstream
[heroku]
  account = rcode5
[credential]
  helper = osxkeychain
[core]
  pager = less -FXRS -x2
	excludesfile = /Users/jon/.gitignore
[apply]
  whitespace = nowarn
[rebase]
  autosquash = true
[user]
[user]
	email = jon@carbonfive.com
	name = Jon Rogers
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
