*~
.\#*
\#*
.idea
.svn
*.log
*.sublime_session
*.sublime-project
Sublime\ Text\ */Index/*
Sublime\ Text\ */Cache/*
Sublime\ Text\ */Local/*
tmp/*


# emacs temp files
*~
\.\#*

emacs_d/.mc-lists.el
emacs_d/elpa/archives/gnu/archive-contents
emacs_d/elpa/archives/melpa/archive-contents
emacs_d/eshell/history
emacs_d/eshell/lastdir
emacs_d/ido.last
emacs_d/init.el
emacs_d/projectile-bookmarks.eld
emacs_d/recentf
